:root {
  /* Grayscale */
  --able-gray-10: #141414;  
  --able-gray-20: #2D2D2D;  
  --able-gray-30: #3C3C3C;  
  --able-gray-40: #484848;  
  --able-gray-50: #646464;
  --able-gray-75: #C0C0C0;
  --able-gray-80: #CCCCCC;  

  /* Text */
  --able-text: #EEEEEE;     

  /* Vibrant accents */
  --able-hot-pink: #FF39D4;     
  --able-fuchsia-tom: #FF2B6F;  
  --able-peach: #FFA374;        
  --able-coral: #FF94A6;        
  --able-cyan: #19E9FF;         
  --able-aqua: #5CFFE8;         
  --able-orange: #F39420;       
  --able-lemon: #FFF034;        
  --able-pale-yellow: #F7F47C;  
}

* {
    margin: 0;
    padding: 0;
}

body {
    color: var(--able-gray-30);
    background-color: var(--able-gray-75);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 26px;
}

.card {
    
    background-color: var(--able-gray-80);
    border-radius: 24px;
    overflow: hidden;
    max-width: 80%;
    min-width: 400px;
    border: 8px solid white;
    transition: all 0.35s ease;           
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4); 
    transform: translateY(0);
}

.card:hover {
    transform: translateY(-2px);          
    box-shadow: 0 24px 50px rgba(0, 0, 0, 0.65); 
    
               
}

h2, p, button {
    margin: 8px;
}